<ion-content [fullscreen]="true">
  <div id="container">
    <form (ngSubmit)="submitForm()">
      <strong>Ajouter:</strong>
      <ion-input placeholder="Enter Input"></ion-input>
      <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
    </form>
  </div>
</ion-content>
