<ion-app>
  <ion-menu menuId="main-menu" contentId="main" class="my_menu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/tabs/tab1">Tab 1</ion-item>
        <ion-item routerLink="/tabs/tab2">HOME</ion-item>
        <ion-item routerLink="/tabs/tab3">Tab 3</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
